*{
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    image-resolution: 100%;
}
body {
    /*background-color: rgb(214, 170, 38);*/
    background-image: url(images/coksu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 40px 30px;
}
h2{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-style: dotted;
    border-width: 5px;
    border-color: rgba(128, 78, 8, 0.935);
}
p { 
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    margin: 30px auto;
    padding: 20px;
    width: 900px;
    margin: 30px auto;
}
d1 {
    line-height: 25px;
    font-size: 30px;
}
dt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(200, 195, 41);
    margin-top: 30px;
    padding: 5px;
}
dd {
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-indent: 40px;
    text-align: justify;
    width: 100%;
    height: 100%;
    line-height: 30px;
    padding: 10px;
    box-sizing: border-box;
}
a {
    color: #0d0d0d;
    text-decoration: underline;
    text-transform: capitalize;
    line-height: 30px;
    padding: 20px;
}
.Koleksi di british museum yang terkenal {
    width: 900px;
    margin: 30px;
}
d1 img {
    background-color: beige;
    width: 300px;
    /*border-top-left-radius:50px;*/
    border-radius: 100px;
    float: right;
    /*margin-top: 10px;
    margin-right: 20px;*/
    margin: 10px 20px 10px 0px;
    padding: 10px;
}
.clear {
    clear: right;
}
.footer {
    margin-left: 100px;
    text-align: center;
}
